<div class="ui two column left aligned grid ">

<%if flash[:notice]%>
<div class="ui warning message">
<div class="header">Notificacion</div>
<p><%= notice %></p>
</div>

<% end %>
<div class="one wide column"></div>
<div class="column">
<h1>Listado de Municipios y Departamentos</h1>



<table class="ui single line celled table">
  <thead>
    <tr>
      
      <th>Codigo Centro Poblado</th>
      <th>Nombre Departamento</th>     
      <th>Nombre Centro Poblado</th>      
      <th>Enable</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @divpas.each do |divpa| %>
      <tr>       
        <td><%= divpa.cod_cp %></td>
        <td><%= divpa.nombre_dpto %></td>        
        <td><%= divpa.nombre_cp %></td>        
        <td><%= divpa.enable %></td>
        <td><%= link_to 'Ver', divpa %></td>
        <td><%= link_to 'Editar', edit_divpa_path(divpa) %></td>  
        <td><%= link_to 'Eliminar', divpa, method: :delete, data: { confirm: '¿Seguro/a desea eliminar este centro poblado?' } %></td>      
      </tr>
    <% end %>
  </tbody>  
  
</table>
<%= will_paginate @divpas, renderer: WillPaginateSemanticUi::ActionView::Renderer, class: "right floated", inner_window: 3 %> 
<br>

<%= link_to 'Regresar', divpas_path %>
</div>



</div>


