<div class="ui one column center aligned grid">	
 		<div class="column">
			<h1>Profesionales </h1>
		</div>     

<%if can? :create, Profesional %>
<div class="seven wide computer column">
	<div class="ui green segment">
		<%= link_to new_profesional_path do%>
			<h2 class="ui center aligned icon header">		
				<%= image_tag("new.jpeg", :class => "ui centered tiny rounded image")%>
				<div class="content">Crear Profesionales</div> 		
			</h2>		
		<%end%>
	</div>
</div>
<% end%>

<%if can? :list, Profesional %>
<div class="seven wide computer column">
	<div class="ui green segment">
	<%= link_to list_profesionals_path do%>		
		<h2 class="ui center aligned icon header">
			<%= (image_tag("list.jpg", :class => "ui centered tiny rounded image")) %>
			<div class="content">
				Listar Profesionales
			</div>
		</h2>
	<%end%>		
	</div>
</div>
<% end%>

<%if can? :list, Profesional%>
<div class="seven wide computer column">
	<div class="ui green segment">			
		<h2 class="ui center aligned icon header">
			<%= (image_tag("search.jpg", :class => "ui centered tiny rounded image")) %>
			<div class="content">
				Buscar Profesionales
			</div>
		</h2>	
		<%= form_tag(list_profesionals_path, :method => "get", id: "search-form", class:"ui form") do %>
		<div class="fields">				
			<div class="five wide field">
				<%=label_tag :s_identificacion,"Identificacion"%>
				<%=number_field_tag :s_identificacion, params[:s_identificacion] %>
			</div>
			<div class="five wide field">
				<%=label_tag :s_pnombre,"Primer Nombre"%>
				<%=text_field_tag :s_pnombre, params[:s_pnombre] %>
			</div>
			<div class="five wide field">
				<%=label_tag :s_snombre,"Segundo Nombre"%>
				<%=text_field_tag :s_snombre, params[:s_snombre] %>
			</div>
			<div class="five wide field">
				<%=label_tag :s_papellido,"Primer Apellido"%>
				<%=text_field_tag :s_papellido, params[:s_papellido] %>
			</div>	
			<div class="five wide field">
				<%=label_tag :s_sapellido,"Segundo Apellido"%>
				<%=text_field_tag :s_sapellido, params[:s_sapellido] %>
			</div>	
		</div>	
		  	<%= submit_tag "Buscar" %>
		<% end %>		
	</div>
</div>
<% end%>

<%if can? :export, Profesional%>
<div class="seven wide computer column">
	<div class="ui green segment">
		<h2 class="ui center aligned icon header">
			<%= (image_tag("eps.jpg", :class => "ui centered tiny rounded image")) %>
			<div class="content">
				Reportes
			</div>
		</h2>
	</div>
</div>
<% end%>




</div>
	