<div class="ui two column left aligned grid ">
<div class="one wide column"></div>
  <div class="column">

<%if flash[:notice]%>
<div class="ui success message">
<div class="header">Formulario Completado</div>
<p><%= notice %></p>
</div>
<% end %>

<p>
  <strong>Numero de autorizacion:</strong>
  <%= @citum.nro_autorizacion %>
</p>


<p>
  <strong>Paciente id:</strong>
  <%= @citum.paciente_id %>
</p>

<p>
  <strong>Paciente Nombre:</strong>
  <%= Paciente.where(numero_id: @citum.paciente_id).first.persona%>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @citum.fecha.to_formatted_s(:rfc822) %>
</p>

<p>
  <strong>Hora:</strong>
  <%= @citum.hora.strftime('%H:%M') %>
</p>

<p>
  <strong>Consultorio:</strong>
  <%= Consultorio.where(id: @citum.consultorio_id).select(:nombre).first.nombre %>
</p>

<p>
  <strong>Programa o Grupo de Servicios:</strong>
<%= Servicio.where(id: @citum.servicio_id).select(:nombre).first.nombre %>
</p>

<p>
  <strong>Servicio:</strong>
  <%= Especialidad.where(especialidad_id: @citum.especialidad_id).select(:nombre).first.nombre %>
</p>

<p>
  <strong>Profesional:</strong>
 <%= Profesional.where(numero_id: @citum.profesional_id).first.persona %>
</p>

<p>
  <strong>Llegada:</strong>
  <%= @citum.llegada %>
</p>

<p>
  <strong>Atendido:</strong>
  <%= @citum.atendido %>
</p> 

 <%= link_to 'Editar', edit_citum_path(@citum), class: "ui button"%>|
 <%= link_to 'Regresar', cita_path, class: "ui button"%>


    
  
  </div>
  
</div>
